@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center main-heading">
    <h1 class="display-4">Welcome to InvenFlow</h1>
</div>

@* hero section *@
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="asserts/images/monitor.png" class="d-block w-50 h-50 mx-auto" alt="monitor">
                <div class="carousel-caption d-none d-md-block">
                    <h5>ASUS ROG Strix XG49VQ Super Ultra-Wide HDR Gaming Monitor 49"</h5>
                    <p>Experience the Ultimate Ultra-Wide Gaming Monitor (3840 x 1080), 144Hz </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="asserts/images/tab.png" class="d-block w-50 h-50 mx-auto" alt="tab">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Huion HS64 Pen Tablet</h5>
                    <p>Experience the truest of tablet experience with the Huion HS64 Pen Tablet</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="asserts/images/keyboard.png" class="d-block w-50 h-50 mx-auto" alt="keyboard">
                <div class="carousel-caption d-none d-md-block">
                    <h5>ASUS ROG ROG Strix Scope II 96 Wireless</h5>
                    <p>Experience the ultimate gaming experience with the ASUS ROG ROG Strix Scope II 96 Wireless
                    </p>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

@* itemScroller New Arrivals *@
<div class="container-fluid">
    <h5 class="text-light">New Arrivals</h5>
    <p class="para">on InvenFlow</p>
    <div class="row overflow-auto flex-nowrap gap-3 py-3 no-scrollbar">
        <div class="col-auto">
            <a class="text-decoration-none">
                <div class="card d-flex flex-column align-items-start" data-bs-theme="dark" style="width: 18rem;">
                    <div class="position-relative aspect-ratio-16x9 overflow-hidden rounded shadow-lg mb-3 group">
                        <img
                            src="asserts/images/keyboard.png"
                            alt="Movie Thumbnail"
                            class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">ASUS Gaming Chair</h5>
                            <p class="card-text">For Ultimate Gamers</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a class="text-decoration-none">
                <div class="card d-flex flex-column align-items-start" data-bs-theme="dark" style="width: 18rem;">
                    <div class="position-relative aspect-ratio-16x9 overflow-hidden rounded shadow-lg mb-3 group">
                        <img
                            src="asserts/images/Airpods-max.png"
                            alt="Movie Thumbnail"
                            class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">ASUS Gaming Chair</h5>
                            <p class="card-text">For Ultimate Gamers</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a class="text-decoration-none">
                <div class="card d-flex flex-column align-items-start" data-bs-theme="dark" style="width: 18rem;">
                    <div class="position-relative aspect-ratio-16x9 overflow-hidden rounded shadow-lg mb-3 group">
                        <img
                            src="asserts/images/chair.png"
                            alt="Movie Thumbnail"
                            class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">ASUS Gaming Chair</h5>
                            <p class="card-text">For Ultimate Gamers</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a class="text-decoration-none">
                <div class="card d-flex flex-column align-items-start" data-bs-theme="dark" style="width: 18rem;">
                    <div class="position-relative aspect-ratio-16x9 overflow-hidden rounded shadow-lg mb-3 group">
                        <img
                            src="asserts/images/gaming-head.png"
                            alt="Movie Thumbnail"
                            class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">ASUS Gaming Chair</h5>
                            <p class="card-text">For Ultimate Gamers</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a class="text-decoration-none">
                <div class="card d-flex flex-column align-items-start" data-bs-theme="dark" style="width: 18rem;">
                    <div class="position-relative aspect-ratio-16x9 overflow-hidden rounded shadow-lg mb-3 group">
                        <img
                            src="asserts/images/tab.png"
                            alt="Movie Thumbnail"
                            class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">ASUS Gaming Chair</h5>
                            <p class="card-text">For Ultimate Gamers</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div><p></p>

@* itemScroller Popular Items *@
<div class="container-fluid">
    <h5 class="text-light">Popular Items</h5>
    <p class="para">on InvenFlow</p>
    <div class="row overflow-auto flex-nowrap gap-3 py-3 no-scrollbar">
        <div class="col-auto">
            <a class="text-decoration-none">
                <div class="card d-flex flex-column align-items-start" data-bs-theme="dark" style="width: 18rem;">
                    <div class="position-relative aspect-ratio-16x9 overflow-hidden rounded shadow-lg mb-3 group">
                        <img
                            src="asserts/images/chair.png"
                            alt="Movie Thumbnail"
                            class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">ASUS Gaming Chair</h5>
                            <p class="card-text">For Ultimate Gamers</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a class="text-decoration-none">
                <div class="card d-flex flex-column align-items-start" data-bs-theme="dark" style="width: 18rem;">
                    <div class="position-relative aspect-ratio-16x9 overflow-hidden rounded shadow-lg mb-3 group">
                        <img
                            src="asserts/images/monitor.png"
                            alt="Movie Thumbnail"
                            class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">ASUS Gaming Chair</h5>
                            <p class="card-text">For Ultimate Gamers</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a class="text-decoration-none">
                <div class="card d-flex flex-column align-items-start" data-bs-theme="dark" style="width: 18rem;">
                    <div class="position-relative aspect-ratio-16x9 overflow-hidden rounded shadow-lg mb-3 group">
                        <img
                            src="asserts/images/gaming-head.png"
                            alt="Movie Thumbnail"
                            class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">ASUS Gaming Chair</h5>
                            <p class="card-text">For Ultimate Gamers</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a class="text-decoration-none">
                <div class="card d-flex flex-column align-items-start" data-bs-theme="dark" style="width: 18rem;">
                    <div class="position-relative aspect-ratio-16x9 overflow-hidden rounded shadow-lg mb-3 group">
                        <img
                            src="asserts/images/tab.png"
                            alt="Movie Thumbnail"
                            class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">ASUS Gaming Chair</h5>
                            <p class="card-text">For Ultimate Gamers</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a class="text-decoration-none">
                <div class="card d-flex flex-column align-items-start" data-bs-theme="dark" style="width: 18rem;">
                    <div class="position-relative aspect-ratio-16x9 overflow-hidden rounded shadow-lg mb-3 group">
                        <img
                            src="asserts/images/keyboard.png"
                            alt="Movie Thumbnail"
                            class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">ASUS Gaming Chair</h5>
                            <p class="card-text">For Ultimate Gamers</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a class="text-decoration-none">
                <div class="card d-flex flex-column align-items-start" data-bs-theme="dark" style="width: 18rem;">
                    <div class="position-relative aspect-ratio-16x9 overflow-hidden rounded shadow-lg mb-3 group">
                        <img
                            src="asserts/images/Airpods-max.png"
                            alt="Movie Thumbnail"
                            class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">ASUS Gaming Chair</h5>
                            <p class="card-text">For Ultimate Gamers</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a class="text-decoration-none">
                <div class="card d-flex flex-column align-items-start" data-bs-theme="dark" style="width: 18rem;">
                    <div class="position-relative aspect-ratio-16x9 overflow-hidden rounded shadow-lg mb-3 group">
                        <img
                            src="asserts/images/chair.png"
                            alt="Movie Thumbnail"
                            class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">ASUS Gaming Chair</h5>
                            <p class="card-text">For Ultimate Gamers</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a class="text-decoration-none">
                <div class="card d-flex flex-column align-items-start" data-bs-theme="dark" style="width: 18rem;">
                    <div class="position-relative aspect-ratio-16x9 overflow-hidden rounded shadow-lg mb-3 group">
                        <img
                            src="asserts/images/gaming-head.png"
                            alt="Movie Thumbnail"
                            class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">ASUS Gaming Chair</h5>
                            <p class="card-text">For Ultimate Gamers</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a class="text-decoration-none">
                <div class="card d-flex flex-column align-items-start" data-bs-theme="dark" style="width: 18rem;">
                    <div class="position-relative aspect-ratio-16x9 overflow-hidden rounded shadow-lg mb-3 group">
                        <img
                            src="asserts/images/tab.png"
                            alt="Movie Thumbnail"
                            class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">ASUS Gaming Chair</h5>
                            <p class="card-text">For Ultimate Gamers</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

