@{
    ViewData["Title"] = "Item List";
}

<h2 class="text-light">Items List</h2>

<div class="row row-cols-3 row-cols-md-4 g-4">
    <div class="col">
        <div class="card  h-100 w-90 bg-dark">
            <img src="asserts/imgs/Airpods-max.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/imgs/Airpods-Head.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/imgs/tab.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/imgs/keyboard.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/imgs/chair.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/imgs/monitor.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/imgs/monitor.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/imgs/monitor.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/imgs/tab.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/imgs/keyboard.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/imgs/chair.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/imgs/monitor.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <p>test</p>
</div>
<div class="container"></div>
<div class="container"></div>
<div class="container-fluid">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" data-bs-theme="dark">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
