@{
    ViewData["Title"] = "Item List";
}

<h2 class="text-light">Items List</h2>

<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDarkDropdownPrice">
        <ul class="navbar-nav me-2 mb-2">
            <li class="nav-item dropdown">
                <button class="btn btn-dark dropdown-toggle m-1" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort By Price
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Low - High</a></li>
                    <li><a class="dropdown-item" href="#">High - Low</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <button class="btn btn-dark dropdown-toggle m-1" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort By Category
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Monitors</a></li>
                    <li><a class="dropdown-item" href="#">Headphones</a></li>
                    <li><a class="dropdown-item" href="#">Keyboards</a></li>
                    <li><a class="dropdown-item" href="#">Chairs</a></li>
                    <li><a class="dropdown-item" href="#">Ear Buds</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="row row-cols-3 row-cols-md-4 g-4">
    <div class="col">
        <div class="card  h-100 w-90 bg-dark">
            <img src="asserts/images/Airpods-max.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/images/Airpods-Head.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/images/tab.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/images/keyboard.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/images/chair.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/images/monitor.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/images/gaming-head.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/images/monitor.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/images/tab.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/images/keyboard.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/images/chair.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 w-90 bg-dark">
            <img src="asserts/images/monitor.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <p>test</p>
</div>
<div class="container"></div>
<div class="container"></div>
<div class="container-fluid">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" data-bs-theme="dark">
            <li class="page-item">
                <a class="page-link" asp-controller="Items" asp-action="Index" >Previous</a>
            </li>
            <li class="page-item"><a class="page-link" asp-controller="Items" asp-action="Index">1</a></li>
            <li class="page-item"><a class="page-link" asp-controller="Items" asp-action="ItemsList">2</a></li>
            <li class="page-item"><a class="page-link">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
